<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dynamic test scenarios">
    <parameter name="baseURL" value="https://the-internet.herokuapp.com"/>
    <test name="Functional tests">
        <classes>
            <class name="TestRunner"/>
        </classes>
    </test>
</suite>